@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src: url('../font/Montserrat.ttf') format('TrueType');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url('../font/Montserrat.ttf') format('TrueType');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url('../font/Montserrat.ttf') format('TrueType');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url('../font/Montserrat.ttf') format('TrueType');
}
body{
    background-color: #00377B;
}
.wrapper{
    position: absolute;
    z-index: 2;
}
.link-js{
    text-decoration: none;
    border: none;
    color: white;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    border-bottom: 1px solid transparent;
    display: block;
    width: fit-content;
    transition: all 300ms;
    line-height: 1.25em;
    &:hover{
        border-bottom: 1px solid white;
    }
}
.room {
    &__profil {
        max-width: 25rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        &-title{
            color: white;
            font-size: .875rem;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            font-weight: 700;
        }
        &-img{
            order: -1;
            border-radius: 2rem;
            width: 3rem;
            height: auto;
        }
    }
    &__dialogue {
        color: white;
        max-width: 30rem;
        text-align: left;
        font-size: 1rem;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight: 400;
        transition: all .5s;
        line-height: 1.45rem;
        padding: 1rem;
        border-radius: 1rem;
    }
    &__wrapper {
        z-index: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}


.room__page {
    grid-column: 1/3;
    max-width: 70rem;
    margin: 0 auto;
    text-align: left;
    font-size: 2rem;
    color: white;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 2.5rem;
    padding: 2rem 1.25rem 1rem;

    span {
        display: block;
        font-size: 2.5rem;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight: 700;
        line-height: 3rem;
    }
}

.button-click{
    padding: .5rem;
    min-width: 15rem;
    font-size: .875rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    border: 1px solid white;
    border-radius: .5rem;
    cursor: pointer;
    background-color: transparent;
    display: block;
    transition: all 300ms;
    margin-bottom: 1.5rem;
    margin-left: 1.25rem;
    z-index: 5;
    &:hover{
        background-color: white;
        color: #00377B;
    }
}
@media (max-width: 990px) {
    .button-click{
        display: none;
    }
}
.webgl {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    z-index: 0;
    top: 0;
    right: 0;
    outline: none;
    display: block;
}

.container__canvas {
    margin: 0 auto;
    height: auto;
    overflow: scroll;
}

.roomSection main,
.roomSection header {
    background-color: #00377B;
}

@media (min-width: 800px) {
    .room__all-wrapper {
        max-width: 70rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .room{
        &__profil{
            padding: 0 2rem;
        }
    }
    .room__wrapper {
        padding: 0;
    }
    .webgl {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 100%;
        z-index: 0;
        top: 0;
        left: 0;
        outline: none;
        aspect-ratio: 7/5;
        overflow: visible;
    }
}
@media (min-width: 1500px) {
    .room__all-wrapper {
        max-width: 70rem;
        padding: 4rem 1.25rem 0 0;
        margin: 0 auto;
        display: flex;
        gap: 2rem;
    }
}